@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
<<<<<<< HEAD
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
=======
    --background: 240 4.3% 9%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

>>>>>>> parent of cb5cc9b (refactor: Update layout height and theme toggle)
    --radius: 0.5rem;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
<<<<<<< HEAD
    --background: 240 4% 9%;
    --foreground: 60 9.1% 97.8%;
    --card: 240 4% 9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 240 4% 9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
=======
    --background: 240 4.3% 9%;
    --foreground: 0 0% 98%;

    --card: 240 6% 10%;
    --card-foreground: 340 6% 10%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 4% 16%;
    --ring: 240 4.9% 83.9%;

>>>>>>> parent of cb5cc9b (refactor: Update layout height and theme toggle)
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply text-base font-bold;
  }
}

html {
  height: 100%;
}

:root {
  background: rgb(22, 22, 24);
  color: #fff;
  font-family: "geist";
}

.loader {
  background: rgb(22, 22, 24);
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  color: white;
}

.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover,
.ce-inline-tool:hover {
  color: white;
  background-color: rgb(57, 57, 57);
}

.ce-inline-toolbar,
.ce-conversion-toolbar,
.ce-conversion-tool__icon {
  background-color: black;

}

.ce-inline-toolbar__dropdown:hover {
  background-color: rgb(32, 31, 31);
}

.ce-block ::selection {
  background: rgb(68, 68, 68);
}

.cdx-notifies {
  background-color: rgb(57, 57, 57);
  width: 50vw;
}

.cdx-notify,
.cdx-notify,
.cdx-notify--error,
.cdx-notify--bounce-in {
  background-color: rgb(57, 57, 57) !important;
  color: black;
  width: 50vw !important;
}

.cdx-input {
  background-color: black !important;
  color: white !important;
  border: none !important;
  border-radius: 20px !important;
}

.link-tool__input-holder--error {
  background-color: rgb(57, 57, 57);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 200px;
  background: #2e2e33;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

<<<<<<< HEAD
.dark .w-split-bar {
  background-color: #161618;
  border: none;
  outline: none;
  box-shadow: none !important;
  border-radius: 200px;
}

=======
>>>>>>> parent of cb5cc9b (refactor: Update layout height and theme toggle)
.w-split-bar {
  background-color: #161618;
  border: none;
  outline: none;
  box-shadow: none !important;
  border-radius: 200px;
}

.w-split-bar:hover {
  background-color: #2e2e33 !important;
}

.ql-toolbar {
  border: none !important;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dark .ql-toolbar .ql-stroke {
  fill: none;
  stroke: #ffffff !important;
  background-color: #ffffff !important;
}

.dark .ql-editor.ql-blank::before {
  color: white !important;
}

.dark .ql-toolbar .ql-fill {
  fill: #ffffff;
}

.dark .ql-toolbar .ql-fill {
  fill: #ffffff !important;
  stroke: none;
}

.dark .ql-active .ql-fill {
  fill: skyblue !important;
  stroke: none;
}

.dark button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: skyblue !important;
}

.ql-container {
  border: none !important;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dark .ql-active .ql-stroke {
  fill: none;
  stroke: skyblue !important;
}

.dark button:hover .ql-fill,
.dark .ql-picker-label:hover .ql-fill {
  fill: skyblue !important;
  stroke: none;
}

.dark .react-tagsinput {
  background-color: #27272a !important;
}

.react-tagsinput {
  background-color: #f3f2f2 !important;
  overflow: hidden !important;
  border-radius: 10px;
  width: 33vw;
  display: flex;
  align-items: center;
  outline: none !important;
  border: none !important;
}

.react-tagsinput-input {
  background-color: transparent;
  outline: none;
  margin-left: 10px;
}

.react-tagsinput-tag {
  background-color: #161617 !important;
  border-radius: 5px !important;
  border: none !important;
  color: #a1a1aa !important;
  margin-left: 2px !important;
}
