.ribbon-parent-dark {
  background: rgb(22, 22, 24);
  background: linear-gradient(
    21deg,
    rgba(22, 22, 24, 1) 4%,
    rgba(40, 40, 46, 1) 100%
  );
}

.ribbon-parent {
  background: rgb(211, 211, 225);
  background: linear-gradient(
    21deg,
    rgb(243, 243, 243) 4%,
    rgb(217, 217, 217) 100%
  );
}

.scrolling-wrapper {
  display: flex;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.overflow-hidden {
  overflow: hidden;
}
