@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%; /* #FFFFFF */
  --foreground: 224 20.55% 14.31%; /* #1D212C */

  --card: 0 0% 96.08%; /* #F5F5F5 */
  --popover: 0 0% 100%; /* #FFFFFF */

  --primary: 48.15 93.1% 65.88%; /* #F9D957 */
  --secondary: 205.15 79.15% 41.37%; /* #1677BD */
  --muted: 220 8.94% 46.08%; /* #6B7280 */
  --accent: 176.54 32.91% 30.98%; /* #356966 */
  --destructive: 339 86.54% 40.78%; /* #C20E4D */

  --border: 176.54 32.91% 30.98%; /* #356966 */
  --input: 0 0% 96.08%; /* #F5F5F5 */
  --ring: 205.15 79.15% 41.37%; /* #1677BD */

  --radius: 0.5rem;

  /* Chart Colors */
  --chart-1: 12 76% 61%; /* Warm Orange */
  --chart-2: 173 58% 39%; /* Teal Green */
  --chart-3: 197 37% 24%; /* Deep Blue */
  --chart-4: 43 74% 66%; /* Yellow-Gold */
  --chart-5: 27 87% 67%; /* Bright Orange */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Typography */
h1 {
  @apply text-4xl font-bold text-foreground;
}
h2 {
  @apply text-3xl font-bold text-foreground;
}
h3 {
  @apply text-2xl font-bold text-foreground;
}
h4 {
  @apply text-xl font-bold text-foreground;
}
h5 {
  @apply text-lg font-bold text-foreground;
}
h6 {
  @apply text-base font-bold text-foreground;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 200px;
  background: var(--foreground);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted);
}

/* Dark Mode Specifics */
.dark {
  .ce-toolbar__plus,
  .ce-toolbar__settings-btn {
    color: white;
    transition: all 0.2s ease;
  }

  .ce-toolbar__plus:hover,
  .ce-toolbar__settings-btn:hover,
  .ce-inline-tool:hover {
    color: white;
    background-color: rgb(57, 57, 57);
  }
}

/* Editor & Toolbar Styling */
.ql-toolbar {
  background-color: var(--secondary);
  border: 1px solid var(--border) !important;
  border-bottom: none !important;
  border-radius: 12px 12px 0 0;
  padding: 14px !important;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  transition: all 0.2s ease;
}

.ql-container {
  background-color: var(--background);
  border: 1px solid var(--border) !important;
  border-top: none !important;
  border-radius: 0 0 12px 12px;
  color: var(--foreground);
  font-family: "geist", sans-serif;
  transition: all 0.2s ease;
}

.ql-toolbar .ql-stroke {
  stroke: var(--foreground) !important;
  transition: all 0.2s ease;
}

.ql-toolbar .ql-fill {
  fill: var(--foreground) !important;
  transition: all 0.2s ease;
}

.ql-toolbar button:hover {
  background-color: var(--muted);
}

/* Selection Color */
.ql-editor ::selection {
  background-color: rgba(147, 147, 147, 0.15);
}

/* Tags Input */
.react-tagsinput {
  background-color: var(--background) !important;
  border: 1px solid var(--border) !important;
  width: fit-content;
}

.react-tagsinput-tag {
  background-color: var(--primary) !important;
  color: var(--foreground) !important;
}
