@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 97%;
    --foreground: 228 19% 15%;
    --card: 210 33% 97%;
    --card-foreground: 228 19% 15%;
    --popover: 210 33% 97%;
    --popover-foreground: 228 19% 15%;
    --primary: 47 100% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 92 32% 50%; /* Adjusted for better contrast */
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 179 55% 35%; /* Adjusted to be richer */
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    /* Chart Colors */
    --chart-1: 35 92% 55%; /* A richer orange */
    --chart-2: 150 52% 40%; /* Deeper green */
    --chart-3: 175 42% 30%; /* Darker teal for contrast */
    --chart-4: 45 85% 60%; /* Bright yellow */
    --chart-5: 28 95% 65%; /* Vibrant golden-orange */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  h1 {
    @apply text-4xl font-bold;
    @apply py-3;
  }

  h2 {
    @apply text-3xl font-bold;
    @apply py-3;
  }

  h3 {
    @apply text-2xl font-bold;
    @apply py-3;
  }

  h4 {
    @apply text-xl font-bold;
    @apply py-3;
  }

  h5 {
    @apply text-lg font-bold;
    @apply py-3;
  }

  h6 {
    @apply text-base font-bold;
    @apply py-3;
  }
}

html {
  height: 100%;
}

:root {
  font-family: "geist";
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  color: white;
}

.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover,
.ce-inline-tool:hover {
  color: white;
  background-color: rgb(57, 57, 57);
}

.ce-inline-toolbar,
.ce-conversion-toolbar,
.ce-conversion-tool__icon {
  background-color: black;
}

.ce-inline-toolbar__dropdown:hover {
  background-color: rgb(32, 31, 31);
}

.ce-block ::selection {
  background: rgb(68, 68, 68);
}

.cdx-notifies {
  background-color: rgb(57, 57, 57);
  width: 50vw;
}

.cdx-notify,
.cdx-notify,
.cdx-notify--error,
.cdx-notify--bounce-in {
  background-color: rgb(57, 57, 57) !important;
  color: black;
  width: 50vw !important;
}

.cdx-input {
  background-color: black !important;
  color: white !important;
  border: none !important;
  border-radius: 20px !important;
}

.link-tool__input-holder--error {
  background-color: rgb(57, 57, 57);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 200px;
  background: #2e2e33;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.w-split-bar {
  background-color: #161618;
  border: none;
  outline: none;
  box-shadow: none !important;
  border-radius: 200px;
}

.w-split-bar:hover {
  background-color: #2e2e33 !important;
}

.ql-toolbar {
  border: none !important;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #ffffff !important;
  background-color: #ffffff !important;
}

.ql-editor.ql-blank::before {
  color: #ffffff !important;
}

.ql-toolbar .ql-fill {
  fill: #ffffff;
}

.ql-toolbar .ql-fill {
  fill: #ffffff !important;
  stroke: none;
}

.ql-active .ql-fill {
  fill: skyblue !important;
  stroke: none;
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: skyblue !important;
}

.ql-container {
  border: none !important;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ql-active .ql-stroke {
  fill: none;
  stroke: skyblue !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: skyblue !important;
  stroke: none;
}

.user-button-small {
  height: 1.25rem;
  /* 20px */
  width: 1.25rem;
  /* 20px */
}
